.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  padding-top: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
  cursor: pointer;
}

.card__like-button {
  background-image: url(../images/like_icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    max-height: 288px;
    height: 100%;
    max-width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
  }
}
